################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ApiXUnitTestProject/ApiXUnitTestProject/obj
/.vs/Api213/v15/.suo
/Project/Source/obj
/Project/Source/.vs/Api213/v15
/Project/ApiXUnitTestProject/obj
/Project/Source/bin/Debug/netcoreapp2.1
/Project/ApiXUnitTestProject/bin/Debug/netcoreapp2.1
